TestGit.xcodeproj/project.xcworkspace/xcshareddata/TestGit.xccheckout
TestGit.xcodeproj/project.xcworkspace/xcuserdata/shannmehrotra.xcuserdatad/UserInterfaceState.xcuserstate
TestGit.xcodeproj/project.xcworkspace/xcuserdata/shannmehrotra.xcuserdatad/WorkspaceSettings.xcsettings
TestGit.xcodeproj/xcuserdata/shannmehrotra.xcuserdatad/xcschemes/TestGit.xcscheme
TestGit.xcodeproj/xcuserdata/shannmehrotra.xcuserdatad/xcschemes/xcschememanagement.plist
